{% extends 'base.html.j2' %}


{% block obsah %}

<h1>Login</h1>

<form method="post">
    login: <br>
    <input type="text" name="nick"> <br>
    passwd: <br>
    <input type="password" name="heslo"> <br>
    <input type="submit">
</form>

{% endblock obsah %}